*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header {
    background-color: aliceblue;
    padding: 15px;
    margin: 5px;
}
header nav{
    background-color: aqua;
    padding:15px ;
    margin: 5px;
}
header nav ul{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    color: black;
    font-size: 25px;
}
main{
    background-color: aqua;
    margin: 5px ;
    padding: 15px ;

}
main p{
    background-color:aliceblue;
    color:black;
    font-size: 20px;
}
footer{
    background-color: black;
    padding: 15px;

}
footer h1{
    background-color: aqua;
    padding: 10px;
    margin: 5px;
}
footer h1 span{
    font-size: 40px;
    color: red;
}